@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@400;700&family=Poppins:wght@300;400;500;600&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

* {

  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;

}

:root {
  --primary-color: #1e1e20;
  --Primary-color-second: #171717;
  --theme-color: #865bce;
  --cards-color: #23262d;
  --Menu-color: #6f6f70;
  --Menu-Icon-color: #5b5b72;
  --hover-menu: #5b5b7242;
}



@media screen and (max-width: 800){
  .mobile-hide{
    display: none;
  }
  }